{include file="common/header" /}
<link rel='stylesheet'  href='home/jiaoben6415/css/style.css' type='text/css' />
<body>
<header > 
<div style="background: #d56464;">
  <div class="container-inner">
  <div class="yusi-logo">
    <a href="/">
      <h1>
        <span class="yusi-mono">树宁</span>
        <span class="yusi-bloger">[唐博虎]个人博客</span>
      </h1>
    </a>
  </div>
</div>
</div>

  <!--menu begin-->

  <div class="menu">

    <nav class="nav" id="topnav">
      <!--<h1 class="logo"><a href="http://www.yangqq.com">{$site.name}</a></h1>-->
    
    {present name="categorydata"}
      {volist name="categorydata" id="vo" key="k"}
          {if condition="$k eq 1"}
              <li><a id="topnav_current" href="index.html">{$vo.name}</a>
          {else /}
              <li><a  href="index.html">{$vo.name}</a>
          {/if}
                
          {present name="$vo.child"}
            <ul class="sub-nav">
            {volist name="vo.child" id="v"}
               <li><a href="life.html">{$v.name}</a></li>
            {/volist}
            </ul>
          {/present}
        </li>
      {/volist}
    {/present}
    <!--search begin-->
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <span class="search_ico"></span>
        </form>
      </div>
      <!--search end--> 
    </nav>
    <div class="clear"></div>

  </div>
  <div style="background-color: #eee;">
    <div class="speedbar">
      <div class="pull-right">
          <i class="fa fa-user"></i> <a href="/wp-login.php?action=register">投稿</a>&nbsp;&nbsp;&nbsp;   <i class="fa fa-power-off"></i> <a href="https://cuiqingcai.com/wp-login.php">登录</a>      
      </div>
      <div class="toptip">
        <strong class="text-success"><i class="fa fa-volume-up"></i> </strong> &nbsp; 《Python3网络爬虫开发实战》赠书活动正在进行中！详情请戳<a href="https://cuiqingcai.com/6173.html">赠书活动</a>！欢迎参与！非常感谢！
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  
</header>
<article> 

  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">
  <div class="warper">
    <div id="wowslider-container1">
      <div class="ws_images">
      <ul>
        <li><a target="_blank" href="#"><img title="高级职位都在这里" src="home/jiaoben6415/images/bimg1.jpg" /></a></li>
        <li><a target="_blank" href="#"><img title="互联网设计布道者冯铁看诊把脉" src="home/jiaoben6415/images/bimg2.jpg" /></a></li>
        <li><a target="_blank" href="#"><img title="颜值不高别装“表”" src="home/jiaoben6415/images/bimg3.jpg" /></a></li>
        <li><a target="_blank" href="#"><img title="高级职位都在这里" src="home/jiaoben6415/images/bimg1.jpg" /></a></li>
        <li><a target="_blank" href="#"><img title="互联网设计布道者冯铁看诊把脉" src="home/jiaoben6415/images/bimg2.jpg" /></a></li>
        <li><a target="_blank" href="#"><img title="颜值不高别装“表”" src="home/jiaoben6415/images/bimg3.jpg" /></a></li>
      </ul>
      </div>
      <div class="ws_thumbs">
      <div>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg1.jpg" /></a>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg2.jpg" /></a>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg3.jpg" /></a>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg1.jpg" /></a>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg2.jpg" /></a>
      <a target="_blank" href="#"><img src="home/jiaoben6415/images/simg3.jpg" /></a>
      </div>
      </div>
      <div class="ws_shadow"></div>
    </div>
  </div>
  
  <div style="height:20px;"></div>
  
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="home/images/toppic01.jpg" alt=""></a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view">4567已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="bplist"><a href="/" title="">
      <li><img src="home/images/avatar.jpg" alt=""></li>
      <li><img src="home/images/toppic02.jpg" alt=""></li>
      <li><img src="home/images/banner01.jpg" alt=""></li>
      </a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="bigpic"><a href="/" title=""><img src="home/images/toppic01.jpg" alt=""></a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    
  </div>
  <script type="text/javascript" src="home/jiaoben6415/js/slider.js"></script>
<script type="text/javascript">
jQuery("#wowslider-container1").wowSlider({effect:"cube",prev:"",next:"",duration:20*100,delay:20*100,width:716,height:297,autoPlay:true,playPause:true,stopOnHover:false,loop:false,bullets:0,caption:true,captionEffect:"slide",controls:true,onBeforeStep:0,images:0});
</script>
  <!--blogsbox end-->
  {include file="common/left" /}
</article>
{include file="common/foot" /}

<a href="#" class="cd-top">Top</a>
</body>
</html>
