{extend name="common/base" /}

{block name="content"}
	<div class="news_infos">
    <ul>
      在我认为：不管学习什么东西，一定要有属于自己的“学习方法”和善于“对事物的总结”。
      <br/>

俗话说的好：“方向不对，努力白费！”很多人都是盲目的去学习，导致花了大量的时间，在学习一些没有用处的东西，到头来什么都没学会，因此会打击自己的学习欲望，也会让自己处于迷茫当中...一个优秀的传道授业者“不单单传授的是知识，更多传授的是思维和方法”。---授人以鱼不如授人以渔
<br/>
其实，人的一生中都是在不断的学习，不管是技术也好，做人也罢！我觉得都应该以一颗“谦卑的心态来学习，秉持利他之心来帮助他人。”
<br/>
人就得学会感恩，滴水之恩应当涌泉相报。感谢那些曾经帮助过我的人，因为有你们我才会变得如此的优秀。
      <br>
      <h2>About my blog</h2>
      &nbsp;
      <p>域 名：www.gongshuisiye.com 创建于2019年07月1日&nbsp;</p>
      <br>
      <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
      <br>
      <p>备案号：{$site.beian}</p>
      <br>
      <p>程 序：thinkphp5.0</p>
    </ul>
  </div>
{/block}

{block name="right"}
<div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="/home/images/avatar.jpg" alt=""> </p>
      <p class="abname">dancesmile | 四叶</p>
      <p class="abposition">PHP后端开发工程师</p>
      <p class="abtext"> 一个90后草根站长！16年入行。一边工作一边积累经验，分享一些个人工作常用技术分享。 </p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="/home/images/wx.jpg">
      </ul>
    </div>
  </div>
{/block}

{block name="js"}
{/block}
