<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_FastCGI" />
            <add name="PHP_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\phpsutdy\PHPTutorial\php\php-7.1.13-nts\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
