<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

	<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-pid" data-rule="required" class="form-control selectpicker" name="row[category_id]">
                {foreach name="parentList" item="vo"}
                <option data-type="" value="{$vo.id}" >{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>
	
	
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text">
        </div>
    </div>
	
	<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Flag')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[flag][]', ['index'=>'首页','hot'=>'热门','recommend'=>'推荐'], [], ['id'=>'c-flag','class'=>'form-control selectpicker','multiple'=>'multiple','required'=>'','tabindex'=>'-98'] )}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Summary')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-summary" class="form-control " rows="5" name="row[summary]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Author')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-author" data-rule="required" class="form-control selectpicker" name="row[author_id]" >
                {foreach name="author_list" item="vo"}
                <option data-type="" value="{$vo.id}" >{$vo.name}</option>
                {/foreach}
            </select>
            <!-- <input id="c-author" class="form-control" name="row[author]" type="text"> -->
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keyword')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keyword" placeholder="多个关键字以逗号分隔" class="form-control" name="row[keyword]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hits')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hits" class="form-control" name="row[hits]" value="0" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thumbimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-thumbimage" class="form-control" size="50" name="row[thumbimage]" type="text">
                <div class="input-group-addon no-border no-padding">  
                    <span><button type="button" id="plupload-thumbimage" data-multipart='{"type":"article"}' class="btn btn-danger plupload" data-input-id="c-thumbimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-thumbimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-thumbimage" class="btn btn-primary fachoose" data-input-id="c-thumbimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-thumbimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-thumbimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pageviews')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pageviews" value="0" class="form-control" name="row[pageviews]" type="number">
        </div>
    </div>

	
	<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" value="0" class="form-control" name="row[weigh]" type="number">
        </div>
    </div>
	
	<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>


