{include file="common/header" /}
<!--分页组件 JS CSS 开始-->

 <!--分页组件 CSS-->
{block name="title_js"}
<link rel="stylesheet" type="text/css" href="/home/kkpager/src/kkpager_blue.css" />
 <!--分页组件 JS-->

 <script type="text/javascript" src="/home/kkpager/src/kkpager.min.js"></script>

 <script type="text/javascript" src="/home/kkpager/src/kkpager.js"></script> 

 <!--分页组件 JS CSS 结束-->

<link rel='stylesheet'  href='/home/jiaoben6415/css/style.css' type='text/css' />
{/block}

<body>
<header > 
<div style="background: #d56464;">
  <div class="container-inner">
  <div class="yusi-logo">
    <a href="/">
      <h1>
        <span class="yusi-mono">深水鱼</span>
        <span class="yusi-bloger">的个人博客</span>
      </h1>
    </a>
  </div>
</div>
</div>

  <!--menu begin-->

  <div class="menu">

    <nav class="nav" id="topnav">
      <!--<h1 class="logo"><a href="http://www.yangqq.com">{$site.name}</a></h1>-->
    
    {present name="categorydata"}
      {volist name="categorydata" id="vo" key="k"}
          {if condition="$k eq 1"}
              <li><a id="topnav_current" data-id="{$vo.id}" href="index.html">{$vo.name}</a>
          {else /}
              <li><a data-id="{$vo.id}"  href="index.html">{$vo.name}</a>
          {/if}
                
          {present name="$vo.child"}
            <ul class="sub-nav">
            {volist name="vo.child" id="v"}
               <li><a href="javascript:void(0)" onclick="category({$v.id})">{$v.name}</a></li>
            {/volist}
            </ul>
          {/present}
        </li>
      {/volist}
    {/present}
    <!--search begin-->
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <span class="search_ico"></span>
        </form>
      </div>
      <!--search end--> 
    </nav>
    <div class="clear"></div>

  </div>
  <div style="background-color: #eee;">
    <div class="speedbar">
      <div class="pull-right">
          <i class="fa fa-user" style="opacity:0.5;filter:alpha(opacity=50);"></i> <a href="javascript:alert('暂未开放')">投稿</a>&nbsp;&nbsp;&nbsp;   <i class="fa fa-power-off" style="opacity:0.5;filter:alpha(opacity=50);"></i> <a href="https://cuiqingcai.com/wp-login.php">登录</a>
      </div>
      <div class="toptip">
        <strong class="text-success"><i class="fa fa-volume-up" style="color:#56af45"></i> </strong> &nbsp; 《Python3网络爬虫开发实战》赠书活动正在进行中！详情请戳<a href="https://cuiqingcai.com/6173.html">赠书活动</a>！欢迎参与！非常感谢！
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  
</header>
<article> 

  <div class="blank"></div>
  {block name="navi"}

  {/block}
  {block name="content"}
  <!--blogsbox begin-->
  <div class="blogsbox">
  <div class="warper">
    <div id="wowslider-container1">
      <div class="ws_images">
      <ul>
        {present name="banner_list"}
          {volist name="banner_list" id="vo" key="k"}
            <li><a target="_blank" href="{$vo.url}"><img title="{$vo.title}" src="{$vo.image}" /></a></li>
          {/volist}
        {/present}
        
      </ul>
      </div>
      <div class="ws_thumbs">
      <div>
      {present name="banner_list"}
          {volist name="banner_list" id="vo" key="k"}
            <a target="_blank" href="#"><img src="{$vo.ImageThumb}" /></a>
          {/volist}
      {/present}
      
      </div>
      </div>
      <div class="ws_shadow"></div>
    </div>  </div>
  
  <div style="height:20px;"></div>
    <div id="tmp"></div>
    <!-- <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="/home/images/toppic01.jpg" alt=""></a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view">4567已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="bplist"><a href="/" title="">
      <li><img src="/home/images/avatar.jpg" alt=""></li>
      <li><img src="/home/images/toppic02.jpg" alt=""></li>
      <li><img src="/home/images/banner01.jpg" alt=""></li>
      </a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="bigpic"><a href="/" title=""><img src="/home/images/toppic01.jpg" alt=""></a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div> -->
    <div id="info"></div>
    <p id="kkpager"></p>
  </div>
  {/block}
  {include file="common/left" /}
  {block name="js"}
  <script type="text/javascript" src="/home/jiaoben6415/js/slider.js"></script>
  <script type="text/javascript">
  $("#wowslider-container1").wowSlider({effect:"cube",prev:"",next:"",duration:20*100,delay:20*100,width:716,height:297,autoPlay:true,playPause:true,stopOnHover:false,loop:false,bullets:0,caption:true,captionEffect:"slide",controls:true,onBeforeStep:0,images:0});
  </script>
  <!--blogsbox end-->
  <script type="text/javascript">



      //----分页部分 代码片段一 开始----

      var totalPage = 20;//总共多少页

      var totalRecords = 200;//总共多少条

      var pagehref = "{:url('index/ajax_load_data')}";

      var category_id = '';

      //var pageNo = GetQueryString('pno');
     
      var limit = 1;
      var pageNo = '';

      if (!pageNo) {

        pageNo = 1;

      }

      //----分页部分 代码片段一 结束----

      //----页面数据加载 并绑定生成分页 开始----

      function LoadingGoods() {  
      
        $.ajax({

          url: "{:url('index/ajax_load_data')}",

          type: "POST",

          dataType: "json",

          data: {'Page': pageNo, 'Limit': limit,'category_id':category_id },

          success: function (result) {
            if(result.dingji!=0)
            {
              $('a[id="topnav_current"]').removeAttr('id');
              $('a[data-id="'+result.dingji+'"]').attr('id','topnav_current');
            }
            if (result.status==1) {
              
              var count = result.count;

              var data = result.data;

              totalRecords = count;

              totalPage = Math.ceil(count / limit);
               
              if (count > 0) {

                $("#info").html("");

                var html = '';
                for(var item in data)
                {
                    
                    html+= '<div class="blogs" data-scroll-reveal="enter bottom over 1s"  >';
                    html+= '<h3 class="blogtitle"><a href="'+data[item]['id']+'.html" target="_blank">'+data[item]['title']+'</a></h3>';
                    if(data[item]['thumbimage']!='')
                    {
                       html+= '<span class="blogpic"><a href="/" title=""><img src="'+data[item]['ThumbnailImage']+'" alt=""></a></span>';
                    }
                    else
                    {
                       html+= '<span class="blogpic"><a href="/" title=""><img src="/home/images/toppic01.jpg" alt=""></a></span>';
                    }
                   

                    html+= '<p class="blogtext">'+data[item]['summary']+'</p>';
                    html+= '<div class="bloginfo">';
                    html+= '<ul>';
                    html+= '<li class="author"><a href="/">'+data[item]['author']['name']+'</a></li>';
                    html+= '<li class="lmname"><a href="/">'+data[item]['category']['name']+'</a></li>';
                    html+= '<li class="timer">'+data[item]['createtime']+'</li>';
                    html+= '<li class="view"><span>'+data[item]['pageviews']+'</span>已阅读</li>';
                    html+= '<li class="like">9999</li>';
                    html+= '</ul>';
                    html+= '</div>';
                    html+= '</div>';
                    
                }
                $("#info").html(html);
               

              } else {

                $('#kkpager').empty();
                $("#info").html("");

                var str = "";

                str = "<p><center>没有查到您想要的数据。</center></p>"

                $("#info").html(str);

              }

              //----分页部分 代码片段二 开始----

              kkpager.total = totalPage;

              kkpager.totalRecords = totalRecords;

              kkpager.generPageHtml({
                click : function(n){
                    pageNo = n;

                    this.selectPage(pageNo);
                    LoadingGoods();    //调用获取数据方法
                    return false;
                },

                pno: pageNo,

                //总页码

                total: totalPage,

                //总数据条数

                totalRecords: totalRecords,

                mode: 'click',

                //链接前部

                hrefFormer: pagehref,

                //链接尾部

                hrefLatter: '',//hrefLatter: '.html'

                getLink: function (n) {

                   return this.hrefFormer;

                }

              });

              //----分页部分 代码片段二 结束----

              //----显示遮罩 开始----

              $('#AjaxLoading').hide()

              $(".showbox").stop(true).animate({ 'margin-top': '250px', 'opacity': '0' }, 400);

              $(".overlay").css({ 'display': 'none', 'opacity': '0' });

              //----显示遮罩 结束----

            }
            else
            {
                $('#kkpager').empty();
                $("#info").html("");

                var str = "";

                str = "<p><center>没有查到您想要的数据。</center></p>"

                $("#info").html(str);
            }

          },

          error: function () {

            alert("请刷新后重试！")

          }

        });

      } 

      LoadingGoods();


function category(id)
{
  category_id = id;
  LoadingGoods();
}
      //----页面数据加载 并绑定生成分页 结束---- 
   </script>
  {/block}


  
</article>

{include file="common/foot" /}

<a href="#" class="cd-top">Top</a>
</body>
</html>
